In [1]:
import sys
sys.path.insert(0, "..")
import crvusdsim

In [2]:
res = crvusdsim.autosim(pool="wstETH", sim_mode="pool", A=[50, 60, 80, 100])

[INFO][17:01:04][crvusdsim.pipelines.simple]-91016: Simulating mode: pool
[INFO][17:01:06][curvesim.price_data.sources]-91016: Fetching CoinGecko price data...
[INFO][17:01:10][crvusdsim.templates.Strategy]-91026: [Curve.fi Stablecoin wstETH] Simulating with {'A': 50}
[INFO][17:01:10][crvusdsim.templates.Strategy]-91028: [Curve.fi Stablecoin wstETH] Simulating with {'A': 80}
[INFO][17:01:10][crvusdsim.templates.Strategy]-91025: [Curve.fi Stablecoin wstETH] Simulating with {'A': 60}
[INFO][17:01:10][crvusdsim.templates.Strategy]-91027: [Curve.fi Stablecoin wstETH] Simulating with {'A': 100}

In [3]:
res.summary()

metric,pool_value,arb_profits_percent,pool_volume,arb_profit,pool_fees
stat,annualized_returns,annualized_arb_profits,sum,sum,sum
0,0.411572,-0.027454,4.558321e+09,9.599337e+06,6.035135e+07
1,0.417564,-0.027475,4.510692e+09,9.847140e+06,5.982547e+07
2,0.415105,-0.027782,4.576914e+09,1.001961e+07,6.063601e+07
3,0.409694,-0.028547,4.521364e+09,1.002201e+07,5.995645e+07

In [4]:
res.data()

,run,timestamp,pool_value,arb_profits_percent,pool_volume,arb_profit,pool_fees
0,0,2023-09-18 23:30:00+00:00,1.799917e+09,-0.000545,40285.744157,981566.777953,453354.086115
1,0,2023-09-18 23:38:34+00:00,1.799710e+09,-0.000545,0.000000,0.000000,0.000000
2,0,2023-09-18 23:47:08+00:00,1.799504e+09,-0.000545,0.000000,0.000000,0.000000
3,0,2023-09-18 23:55:42+00:00,1.799297e+09,-0.000546,0.000000,0.000000,0.000000
4,0,2023-09-19 00:04:17+00:00,1.799091e+09,-0.000546,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
40991,3,2023-11-18 22:55:42+00:00,1.922223e+09,-0.005373,0.000000,0.000000,0.000000
40992,3,2023-11-18 23:04:17+00:00,1.922223e+09,-0.005373,0.000000,0.000000,0.000000
40993,3,2023-11-18 23:12:51+00:00,1.922223e+09,-0.005373,0.000000,0.000000,0.000000
40994,3,2023-11-18 23:21:25+00:00,1.922223e+09,-0.005373,0.000000,0.000000,0.000000
40995,3,2023-11-18 23:30:00+00:00,1.922223e+09,-0.005373,0.000000,0.000000,0.000000

In [5]:
res = crvusdsim.autosim(
    pool="wstETH",
    sim_mode="controller",
    loan_discount=[
        int(0.09 * 10**18),
        int(0.10 * 10**18),
        int(0.11 * 10**18),
        int(0.12 * 10**18),
    ],
    liquidation_discount=[int(0.06 * 10**18)],
)

[INFO][17:01:13][crvusdsim.pipelines.simple]-91016: Simulating mode: controller
[INFO][17:01:15][curvesim.price_data.sources]-91016: Fetching CoinGecko price data...
[INFO][17:02:56][crvusdsim.templates.Strategy]-91050: [Curve.fi Stablecoin wstETH] Simulating with {'loan_discount': 100000000000000000, 'liquidation_discount': 60000000000000000}
[INFO][17:02:56][crvusdsim.templates.Strategy]-91052: [Curve.fi Stablecoin wstETH] Simulating with {'loan_discount': 110000000000000000, 'liquidation_discount': 60000000000000000}
[INFO][17:02:56][crvusdsim.templates.Strategy]-91049: [Curve.fi Stablecoin wstETH] Simulating with {'loan_discount': 90000000000000000, 'liquidation_discount': 60000000000000000}
[INFO][17:02:56][crvusdsim.templates.Strategy]-91053: [Curve.fi Stablecoin wstETH] Simulating with {'loan_discount': 120000000000000000, 'liquidation_discount': 60000000000000000}

In [7]:
res.summary()

metric averange_user_health liquidations_count liquidation_volume
stat                   mean                max                sum
0                  0.027328                0.0                0.0
1                  0.038743                0.0                0.0
2                  0.050414                0.0                0.0
3                  0.062351                0.0                0.0

In [8]:
res.data()

,run,timestamp,averange_user_health,liquidations_count,liquidation_volume
0,0,2023-09-18 23:30:00+00:00,0.036745,0.0,0.0
1,0,2023-09-18 23:38:34+00:00,0.036745,0.0,0.0
2,0,2023-09-18 23:47:08+00:00,0.036743,0.0,0.0
3,0,2023-09-18 23:55:42+00:00,0.036739,0.0,0.0
4,0,2023-09-19 00:04:17+00:00,0.036733,0.0,0.0
...,...,...,...,...,...
40991,3,2023-11-18 22:55:42+00:00,0.045240,0.0,0.0
40992,3,2023-11-18 23:04:17+00:00,0.045240,0.0,0.0
40993,3,2023-11-18 23:12:51+00:00,0.045240,0.0,0.0
40994,3,2023-11-18 23:21:25+00:00,0.045240,0.0,0.0
40995,3,2023-11-18 23:30:00+00:00,0.045240,0.0,0.0

In [10]:
res = crvusdsim.autosim(pool="wstETH", sim_mode="N", N=[4, 6, 8, 10, 20, 40, 50])

[INFO][17:17:50][crvusdsim.pipelines.simple]-91016: Simulating mode: N
[INFO][17:17:53][curvesim.price_data.sources]-91016: Fetching CoinGecko price data...
[INFO][17:17:59][crvusdsim.templates.Strategy]-91351: [Curve.fi Stablecoin wstETH] Simulating with {'N': 8}
[INFO][17:18:01][crvusdsim.templates.Strategy]-91354: [Curve.fi Stablecoin wstETH] Simulating with {'N': 40}
[INFO][17:18:01][crvusdsim.templates.Strategy]-91349: [Curve.fi Stablecoin wstETH] Simulating with {'N': 4}
[INFO][17:18:01][crvusdsim.templates.Strategy]-91355: [Curve.fi Stablecoin wstETH] Simulating with {'N': 50}
[INFO][17:18:01][crvusdsim.templates.Strategy]-91352: [Curve.fi Stablecoin wstETH] Simulating with {'N': 10}
[INFO][17:18:01][crvusdsim.templates.Strategy]-91353: [Curve.fi Stablecoin wstETH] Simulating with {'N': 20}
[INFO][17:18:01][crvusdsim.templates.Strategy]-91350: [Curve.fi Stablecoin wstETH] Simulating with {'N': 6}

In [11]:
res.summary()

metric         user_value
stat   annualized_returns
0               -0.228595
1               -0.168579
2               -0.129110
3               -0.104466
4               -0.053433
5               -0.027022
6               -0.021667

In [12]:
res.data()

       run                 timestamp  user_value
0        0 2023-09-18 23:30:00+00:00    1.000000
1        0 2023-09-18 23:38:34+00:00    1.000000
2        0 2023-09-18 23:47:08+00:00    1.000000
3        0 2023-09-18 23:55:42+00:00    1.000000
4        0 2023-09-19 00:04:17+00:00    1.000000
...    ...                       ...         ...
71738    6 2023-11-18 22:55:42+00:00    0.996344
71739    6 2023-11-18 23:04:17+00:00    0.996344
71740    6 2023-11-18 23:12:51+00:00    0.996344
71741    6 2023-11-18 23:21:25+00:00    0.996344
71742    6 2023-11-18 23:30:00+00:00    0.996344

[71743 rows x 3 columns]